<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Model>
    <ModelInformation>
        <Name>CARE Deconvolution Microtubules</Name>
        <Author>Martin Weigert</Author>
        <URL>http://csbdeep.bioimagecomputing.com/index.html</URL>
        <Credit>Center for Systems Biology Dresden (CSBD) and Max-Planck Institute of Molecular Cell Biology and Genetics, Dresden, Germany</Credit>
        <Version>n/a</Version>
        <Date>2018</Date>
        <Reference>Martin Weigert, Uwe Schmidt, Tobias Boothe, Andreas Müller, Alexandr Dibrov, Akanksha Jain, Benjamin Wilhelm, Deborah Schmidt, Coleman Broaddus, Siân Culley, Mauricio Rocha-Martins, Fabián Segovia-Miranda, Caren Norden, Ricardo Henriques, Marino Zerial, Michele Solimena, Jochen Rink, Pavel Tomancak, Loic Royer, Florian Jug and Eugene W. Myers, Content-aware image restoration: pushing the limits of fluorescence microscopy, Nature Methods, volume 16, 2018</Reference>
    </ModelInformation>
    <ModelTest>
        <InputSize>512x512</InputSize>
        <OutputSize>512x512</OutputSize>
        <MemoryPeak>195.4 Mb</MemoryPeak>
        <Runtime>  3.3 s</Runtime>
		<PixelSize>1.00pixel x 1.00pixel</PixelSize>
    </ModelTest>
    <ModelCharacteristics>
        <ModelTag>tf.saved_model.tag_constants.SERVING</ModelTag>
        <SignatureDefinition>tf.saved_model.signature_constants.DEFAULT_SERVING_SIGNATURE_DEF_KEY</SignatureDefinition>
        <InputTensorDimensions>,-1,-1,-1,1,</InputTensorDimensions>
        <NumberOfInputs>1</NumberOfInputs>
        <InputNames0>input</InputNames0>
        <InputOrganization0>NHWC</InputOrganization0>
        <NumberOfOutputs>1</NumberOfOutputs>
        <OutputNames0>output</OutputNames0>
        <OutputOrganization0>NHWC</OutputOrganization0>
        <Channels>1</Channels>
        <FixedPatch>false</FixedPatch>
        <MinimumSize>8</MinimumSize>
        <PatchSize>616</PatchSize>
        <FixedPadding>true</FixedPadding>
        <Padding>50</Padding>
        <PreprocessingFile>preprocessing.txt</PreprocessingFile>
        <PostprocessingFile>postprocessing.txt</PostprocessingFile>
        <slices>1</slices>
    </ModelCharacteristics>
</Model>
